<!DOCTYPE html>
<html data-dpr="1" style="font-size: 54px" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
    />
    <link rel="icon" href="https://kkring.com/favicon.ico" />
    <title>KKR-Private Equity Investment Firm</title>
    <link
      href="https://kkring.com/css/chunk-1ba05f85.4c585776.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-239e3b9e.3b93d69c.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-27c4110f.d415be60.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-29a4748c.c9df6a03.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-469ba59a.d3f2b894.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-4d5b8545.76686b34.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-576da2d7.f285caf3.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-5d79bc15.d9bb10a9.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-5e5c5c2d.4bf33a01.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-5f88e2cd.0692310c.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-60e6f738.92fe99e5.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-88b3b162.b982aa7e.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-9637029e.c8eb4041.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-b6738f2e.4685006d.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-cef08aae.0e4d40f7.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-d1babd88.e4d94b0c.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-e35eaee2.15365ca9.css"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/css/chunk-fddd2e6a.53c1c861.css"
      rel="prefetch"
    />
    <link href="https://kkring.com/css/home.84df441d.css" rel="prefetch" />
    <link
      href="https://kkring.com/js/chunk-1ba05f85.cc5d9273.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-239e3b9e.b16af507.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-27c4110f.143bf1a2.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-29a4748c.c71f5f44.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-469ba59a.238c0f44.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-4d5b8545.60b2b1b0.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-576da2d7.2513f2f9.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-5d79bc15.19e8cc00.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-5e5c5c2d.c6011e43.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-5f88e2cd.911c296c.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-60e6f738.3dd5791f.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-88b3b162.24e18ffe.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-9637029e.8202a70c.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-b6738f2e.3651ef59.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-cef08aae.88446af3.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-d1babd88.ecbc404a.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-e35eaee2.9b25605e.js"
      rel="prefetch"
    />
    <link
      href="https://kkring.com/js/chunk-fddd2e6a.28b23adf.js"
      rel="prefetch"
    />
    <link href="https://kkring.com/js/home.5d74522e.js" rel="prefetch" />
    <link
      href="https://kkring.com/css/app.b4a537bd.css"
      rel="preload"
      as="style"
    />
    <link
      href="https://kkring.com/css/chunk-vendors.331f546b.css"
      rel="preload"
      as="style"
    />
    <link
      href="https://kkring.com/js/app.fa98232c.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://kkring.com/js/chunk-vendors.22f01809.js"
      rel="preload"
      as="script"
    />
    <link
      href="https://kkring.com/css/chunk-vendors.331f546b.css"
      rel="stylesheet"
    />
    <link href="https://kkring.com/css/app.b4a537bd.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://kkring.com/css/home.84df441d.css"
    />
    <script
      charset="utf-8"
      src="https://kkring.com/js/home.5d74522e.js"
    ></script>
    <link
      href="data:text/css,%5Bid*%3D'google_ads_iframe'%5D%2C%5Bid*%3D'taboola-'%5D%2C.taboolaHeight%2C.taboola-placeholder%2C%23credential_picker_container%2C%23credentials-picker-container%2C%23credential_picker_iframe%2C%5Bid*%3D'google-one-tap-iframe'%5D%2C%23google-one-tap-popup-container%2C.google-one-tap-modal-div%7Bdisplay%3Anone!important%3Bmin-height%3A0!important%3Bheight%3A0!important%3B%7D"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="data:text/css,%5Bid*%3D'google_ads_iframe'%5D%2C%5Bid*%3D'taboola-'%5D%2C.taboolaHeight%2C.taboola-placeholder%2C%23credential_picker_container%2C%23credentials-picker-container%2C%23credential_picker_iframe%2C%5Bid*%3D'google-one-tap-iframe'%5D%2C%23google-one-tap-popup-container%2C.google-one-tap-modal-div%7Bdisplay%3Anone!important%3Bmin-height%3A0!important%3Bheight%3A0!important%3B%7D"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="data:text/css,%5Bid*%3D'google_ads_iframe'%5D%2C%5Bid*%3D'taboola-'%5D%2C.taboolaHeight%2C.taboola-placeholder%2C%23credential_picker_container%2C%23credentials-picker-container%2C%23credential_picker_iframe%2C%5Bid*%3D'google-one-tap-iframe'%5D%2C%23google-one-tap-popup-container%2C.google-one-tap-modal-div%7Bdisplay%3Anone!important%3Bmin-height%3A0!important%3Bheight%3A0!important%3B%7D"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body style="font-size: 12px" class="">
    <noscript
      ><strong
        >We're sorry but doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      ></noscript
    >
    <div data-v-33acdb2a="" id="app" style="padding-bottom: 1.33333rem">
      <div data-v-d3543276="" data-v-33acdb2a="" class="withdraw_wrap">
        <div data-v-d3543276="" class="ybnav van-nav-bar van-hairline--bottom">
          <div class="van-nav-bar__content">
            <div class="van-nav-bar__left">
              <i class="van-icon van-icon-arrow-left van-nav-bar__arrow"
                ><!----></i
              >
            </div>
            <div class="van-nav-bar__title van-ellipsis">Withdrawal</div>
          </div>
        </div>
        <div data-v-d3543276="" class="balance" style="margin-top: -20px">
          <p data-v-d3543276="">₦0.00</p>
          <p data-v-d3543276="">
            Available balance
            <i data-v-d3543276="" class="van-icon van-icon-eye-o"><!----></i>
          </p>
          <p data-v-d3543276="">Reward Amount: ₦5000.00</p>
          <p data-v-d3543276="" class="freeBalancenote">
            The reward amount can be used for investment, and the daily income
            can be withdrawn directly
          </p>
        </div>
        <!---->
        <div data-v-d3543276="" class="wrap_box wrap1">
          <div data-v-d3543276="" class="choose_bank">
            <div data-v-d3543276=""><span data-v-d3543276="">Wallet</span></div>
            <div data-v-d3543276="">
              <span data-v-d3543276="">Please select Wallet</span
              ><i
                data-v-d3543276=""
                class="van-icon van-icon-arrow"
                style="color: rgb(153, 153, 153)"
                ><!----></i
              >
            </div>
          </div>
          <!---->
          <div data-v-d3543276="" class="withdraw_wrap">
            <p data-v-d3543276="">Withdrawal amount</p>
            <div data-v-d3543276="" class="flex_center">
              <span data-v-d3543276="">₦</span
              ><input
                data-v-d3543276=""
                type="number"
                step="0.01"
                placeholder="Withdrawable amount ₦0.00"
                class="inp"
              />
            </div>
            <p data-v-d3543276="">Handling fee :₦0.00(≈0.00$)</p>
          </div>
          <div data-v-d3543276="" class="basic_btn">Submit</div>
          <p data-v-d3543276="" class="canal_tips" style="margin-top: 5px">
            1.Withdrawal time:
          </p>
          <p data-v-d3543276="" class="canal_tips1">Working day:12:00-18:00</p>
          <p data-v-d3543276="" class="canal_tips1">Weekend:15:00-17:00</p>
          <p data-v-d3543276="" class="canal_tips">
            2.Withdrawals are automatically reviewed and processed by the
            system. The estimated arrival time is within 24 hours, please be
            patient!
          </p>
          <p data-v-d3543276="" class="canal_tips">
            3.Minimum withdrawal:₦10000
          </p>
          <p data-v-d3543276="" class="canal_tips">
            4.Can only withdraw once a day
          </p>
          <p data-v-d3543276="" class="canal_tips">
            According to bank regulations, withdrawals will be charged5.00%
            service charge
          </p>
        </div>
        <div class="van-overlay" style="z-index: 2011; display: none"></div>
        <div
          data-v-d3543276=""
          class="van-popup van-popup--round van-popup--bottom"
          style="z-index: 2012; display: none"
        >
          <div data-v-d3543276="" class="psw_box">
            <div data-v-d3543276="" class="van-password-input">
              <ul
                data-v-d3543276=""
                class="van-password-input__security van-hairline--surround"
              >
                <li
                  data-v-d3543276=""
                  class="van-password-input__item van-password-input__item--focus"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                  <div
                    data-v-d3543276=""
                    class="van-password-input__cursor"
                  ></div>
                </li>
                <li
                  data-v-d3543276=""
                  class="van-hairline--left van-password-input__item"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                </li>
                <li
                  data-v-d3543276=""
                  class="van-hairline--left van-password-input__item"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                </li>
                <li
                  data-v-d3543276=""
                  class="van-hairline--left van-password-input__item"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                </li>
                <li
                  data-v-d3543276=""
                  class="van-hairline--left van-password-input__item"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                </li>
                <li
                  data-v-d3543276=""
                  class="van-hairline--left van-password-input__item"
                >
                  <i data-v-d3543276="" style="visibility: hidden"></i>
                </li>
              </ul>
            </div>
            <div data-v-d3543276="" class="keybord_box">
              <div data-v-d3543276="" class="keybord">
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">1</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">2</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">3</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">4</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">5</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">6</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">7</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">8</div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">9</div>
                </div>
                <div data-v-d3543276="" class="key_item no_bg">
                  <div data-v-d3543276="" class="key_inner"></div>
                </div>
                <div data-v-d3543276="" class="key_item">
                  <div data-v-d3543276="" class="key_inner">0</div>
                </div>
                <div data-v-d3543276="" class="key_item no_bg x">
                  <div data-v-d3543276="" class="key_inner">x</div>
                </div>
              </div>
            </div>
          </div>
          <i
            role="button"
            tabindex="0"
            class="van-icon van-icon-close van-popup__close-icon van-popup__close-icon--top-right"
            ><!----></i
          >
        </div>
        <div data-v-d3543276="" class="real_name_mask" style="display: none">
          <div data-v-d3543276="" class="real_box">
            <div data-v-d3543276="" class="tit"></div>
            <p data-v-d3543276="" class="tips">
              Please set wallet password first
            </p>
            <div data-v-d3543276="" class="basic_btn">Set up now</div>
          </div>
        </div>
      </div>
      <div data-v-33acdb2a="" class="fixed-footerbar">
        <div data-v-33acdb2a="" class="footer">
          <a
            data-v-33acdb2a=""
            href="/home"
            class="footer_item router-link-active"
            ><span
              data-v-33acdb2a=""
              class="footer_icon footer_icon_home"
            ></span></a
          ><a
            data-v-33acdb2a=""
            href="/cash"
            class="footer_item router-link-exact-active router-link-active footer_item_active"
            aria-current="page"
            ><span
              data-v-33acdb2a=""
              class="footer_icon footer_icon_share"
            ></span></a
          ><a data-v-33acdb2a="" href="/profile" class="footer_item"
            ><span
              data-v-33acdb2a=""
              class="footer_icon footer_icon_moneybag"
            ></span
          ></a>
        </div>
      </div>
      <div data-v-33acdb2a="" class="real_name_mask" style="display: none">
        <div data-v-33acdb2a="" class="real_box">
          <div data-v-33acdb2a="" class="tit"></div>
          <p data-v-33acdb2a="" class="tips">请先设置钱包余额支付密码！</p>
          <div data-v-33acdb2a="" class="basic_btn">立即设置</div>
        </div>
      </div>
    </div>
    <script src="https://kkring.com/js/app.fa98232c.js"></script>
    <div
      class="van-toast van-toast--middle van-toast--loading"
      style="z-index: 2013; display: none"
    >
      <div class="van-loading van-loading--circular van-toast__loading">
        <span class="van-loading__spinner van-loading__spinner--circular"
          ><svg viewBox="25 25 50 50" class="van-loading__circular">
            <circle cx="50" cy="50" r="20" fill="none"></circle></svg
        ></span>
      </div>
    </div>
    <div class="van-overlay" style="z-index: 2005; display: none"></div>
    <div
      role="dialog"
      tabindex="0"
      class="van-dialog"
      style="z-index: 2006; display: none"
      aria-labelledby="Please log in first"
    >
      <div class="van-dialog__content van-dialog__content--isolated">
        <div class="van-dialog__message">Please log in first</div>
      </div>
      <div class="van-hairline--top van-dialog__footer">
        <button
          class="van-button van-button--default van-button--large van-dialog__confirm"
        >
          <div class="van-button__content">
            <span class="van-button__text">Confirm</span>
          </div>
        </button>
      </div>
    </div>
  </body>
</html>
